@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div >
    <hr />
    <div class="row bg-dark">
        <div class="col-md-9 bg-dark" >
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
